@model MVCproject.Models.Product

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "Products", FormMethod.Post, new { enctype = "multipart/form-data", @class = "bg-white p-5 contact-form" }))
{
    <div class="container mt-4">
        <h2 class="text-center">Add Product</h2>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Name:</label>
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label>Category:</label>
                    @Html.DropDownListFor(m => m.CategoryId, ViewBag.CatList as SelectList, "-- Select Category --", new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label>Description:</label>
                    @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label>Unit Price:</label>
                    @Html.TextBoxFor(m => m.Unit, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label>Select Image:</label>
                    <input type="file" name="Image" class="form-control-file" />
                </div>

                <div class="form-group text-center">
                    <input type="submit" value="Add Product" class="btn btn-primary btn-lg px-5">
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <h3 style="color:red; text-align:center;">@TempData["msg"]</h3>
            </div>
        </div>
    </div>
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary btn-lg btn-block" })
        </div>
    </div>
</div>
